   <html>
    <head>
        <title>Card game offline storage</title>
    	<meta charset="utf-8" />
    	<!--<link href="game.css"/>-->
        <style>
            #insert{ font-size:40px}
        </style>
	</head>
	<body>
        
   <div  id="insert"></div>
   <div id="div">                  
                        <canvas id="c"></canvas>
                        
                        <script>   var b = document.getElementById('div'); </script>
                        <script src="{{url_for('static',filename='game.js')}}"> </script>
                        <script> type="text/javascript"> </script>
                    </div> 
                    
                  
                   <div style="margin-left:530px;">
                    	     <div id ="header">  </div> 
                             <input id="name" text="name" name="name"/>                       		
                        	 <input onClick="run()" type="button" value="save"/>
                             <input onClick="rest()" type="button" value="reset"/>
                             
                             <br/> <br/>
                                                       
					</div>
                   
                  
                   <script type="text/javascript"> 
				   
				   function getSelected(){
					    var sel = document.getElementById("select");
						alert(sel.value);
				   }
				   			   
				   
				   
				   function rest(){				
					 document.location.reload(true);	
					 window.localStorage.clear();	
				   }
				   function populate(pnam){
					      var sel = document.getElementById("select");						 
						  var option = document.createElement("option");						
						  option.innerHTML = pnam;
						  sel.appendChild(option);	
				   }
				   function run()
				   {
					    							
						var  person = {
						"name"  : document.getElementById("name").value,
						"turns"   : clicks, 						              
						}
					
						var mydata = window.localStorage.mydata=JSON.stringify(						
						{
						"name":person.name, 					
						"turns":person.turns,
						"gameprogress":h,						
						});
						
						alert("Game Saved");
						populate(person.name);	
				   }
						
				  </script>                                        
    </div>
        </body>
</html>